{

    "plugins": [ "transform-object-rest-spread", "babel-plugin-transform-es2015-function-name" ],
    "presets": [

        [ "env", {

            "targets": {

                "browsers": [ "last 2 versions", "> 1%" ]

            },
            "debug": true

        } ],
        "react"

    ]

}