.hidden {
    display: none;
}

html {
    background-color: black;
    color: rgba( 0, 255, 0, 0.8);
    line-height: 20px;
}

body {
    margin: 0;
}

* {
    transition: all 0.5s;
    font-family: monospace;
    box-sizing: border-box;
}

main {

    display: flex;
    padding: 0.5em;
}
main > * {

    flex: 1;
    margin: 0.5em;
}


article,
div.box {

    padding: 1em 0.5em;
    border: solid 1px green;

}

article>:last-child,
div.box:last-child {

    margin-bottom: 0.5em;

}

div.big-box {

    padding-top: 2em;
    padding-bottom: 2em;
    border: none;

}

div.big-box + div.big-box {

    border-top: solid 1px green;

}

article>header {

    font-weight: 900;
    background-color: green;
    margin: -1em -0.5em 1em -0.5em;
    padding: 0.5em;
    color: rgba( 0, 255, 0, 1);

}

button:disabled {
    opacity: 0.1;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

li:before {
    content: "-";
    margin-right: 1em;
}

ul.inline {
    display: inline-block;
}

ul.inline>li {
    display: inline-block;
}

ul.inline>li:before {
    content: "";
    margin: 0;
}

ul.inline>li+li:before {
    content: ", ";
}

section+section {
    margin-top: 3em;
}

.bold {
    font-weight: bold;
    color: lime;
}

.sub-heading {
    display: block;
}

.sub-heading:before {
    content: "> ";
}

button,
select {
    background-color: green;
    color: lime;
    cursor: pointer;
    border: none;
    padding: 0 0.5em;
}

input {
    background-color: black;
    border: none;
    color: lime;
    border-bottom: solid 1px lime;
    line-height: 2em;
    padding: 0 0.5em;
    text-align: center;
}

input+input {
    margin-left: 1em;
}

.child-context {
    border-left: solid 0.25em green;
    padding-left: 1.25em;
}
